{% extends 'base.html' %}

{% block content %}
    <h1>Create a New Event</h1>

    <form method="POST" action="{{ url_for('create_event') }}">
        {{ form.hidden_tag() }}

        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.location.label }}<br>
            {{ form.location }}<br>
            {% for error in form.location.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.date.label }}<br>
            {{ form.date }}<br>
            {% for error in form.date.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.total_seats.label }}<br>
            {{ form.total_seats(min=1) }}<br>
            {% for error in form.total_seats.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
